* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calender {
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calender-heading {
    width: 1000px;
    margin: 0 auto;
    font-weight: bolder;
    font-family: monospace;
    font-size: 50px;
    color: rgb(31, 48, 117);
}

.calender-container {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 5px;
    column-gap: 5px;
}

.calender-container .day, .date {
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 158, 166);
    color: #fff;
    border-radius: 5px;
}

.calender-container .day {
    background-color: rgb(30, 30, 119);
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.calender-container .date {
    height: 100px;
    font-size: 70px;
    font-weight: 900;
    color: #000;
}